@use 'base/mixins' as m;
@use 'base/variables' as v;

.hero{
    background-image: url(/build/img/hero.avif);
    min-height: 60rem;
    background-size: cover;
    background-position: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    &__texto{
        max-width: 60rem;
        color: white;
    }

    &__link{
        @include m.boton(v.$terciario, white);
    }
}